$primary-blue-1: #4F46E5;

.about-me {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8rem;

    p {
        font-size: 2rem;
        text-align: justify;
        line-height: 3rem;
        font-weight: 500;

        span {
            color:$primary-blue-1;
        }
    }
}